.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
}

.numbers {
    display: flex;
    border: 5px solid rgb(78, 36, 121);
    background-color: cornsilk;
    border-radius: 5%;
}

.buttons {
    background-color: rgb(210, 179, 240);
    border: none;
    border-radius: 7%;
    height: 50px;
    width: 50px;
}

.buttons:hover {
   background-color: rgb(169, 137, 202);
}

.result {
    height: 150px;
    width: 215px;
    border: 5px solid rgb(78, 36, 121);
    border-radius: 5%;
}